<p id="notice"><%= notice %></p>

<h1>Borrows</h1>

<table>
  <thead>
    <tr>
      <th>Book</th>
      <th>Name</th>
      <th>Who borrow</th>
      <th>Date borrow</th>
      <th>Date return</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @borrows.each do |borrow| %>
      <tr>
        <td><%= borrow.book_id %></td>
        <td><%= borrow.name %></td>
        <td><%= borrow.who_borrow %></td>
        <td><%= borrow.date_borrow %></td>
        <td><%= borrow.date_return %></td>
        <td><%= link_to 'Show', borrow %></td>
        <td><%= link_to 'Edit', edit_borrow_path(borrow) %></td>
        <td><%= link_to 'Destroy', borrow, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Borrow', new_borrow_path %>
